body{
    margin: 0px;
    padding: 0px;
}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transforme: uppercase;
    text-align: center;
    color: rgb(140, 50, 224);
    background-color: rgb(127, 208, 255);
    padding: 20px;
}