body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; /*tirei serif */
    font-size: 18px; /* aumentar fonte */
}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transforme: uppercase;
    text-align: center;
    color: rgb(140, 50, 224);
    background-color: rgb(127, 208, 255);
    padding: 20px;
    margin: 0px;
}

.titulo2{
    color:rgb(212, 17, 154) ;
    font-family: sans-serif;
    text-align: center;
}

.principal{
    background-color: aquamarine;
    padding: 30px;
    margin: 0px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 15%;
}

.itens{
    /* font-style: italic; */
}


.imagembeneficios{
    width: 30%;
}